{% extends "template.html" %}
{% block title %} - Challenge {{challenge.title}}{% endblock %}

{% macro datepicker(date_field, class_="col-sm-3", pre="") -%}
<div class="{{class_}}">
	{{pre}}
	<div class="pull-right">
		{{ date_field(class="datepicker-hidden-input", type="hidden") }}
		<span class="datepicker-display">{{date_field.data}}</span>
		<button type="button" class="btn btn-default btn-sm datepicker-button glyphicon glyphicon-th"></button>
	</div>
</div>
{%- endmacro %}

{% block content_no_row %}
<div class="row">
	<h1>{{challenge.title}}</h1>
	<div class="col-sm-10 col-sm-offset-1">
		<form method="POST" action="">
			<h2>Add new progress</h2>
			{{form.hidden_tag()}}
			<div class="row">
				{{form.add_progress.hidden_tag()}}
				{{datepicker(form.add_progress.timestamp, pre=form.add_progress.timestamp.label(class_="pull-right"))}}
				<div class="col-sm-2">
					{{ form.add_progress.value.label }}
					<div class="input-group">
						{{ form.add_progress.value(class_="form-control", placeholder=form.add_progress.value.label.text) }}
						<span class="input-group-addon">{{challenge.unit}}</span>
					</div>
				</div>
				<div class="col-sm-6">
					{{ form.add_progress.note.label }}
					{{ form.add_progress.note(class_="form-control", placeholder=form.add_progress.note.label.text) }}
				</div>
			</div>
			<h2>Modify previous progress</h2>
			{% for progress in form.existing_progress %}
			<div class="row">
				{{progress.hidden_tag()}}
				{{datepicker(progress.timestamp)}}
				<div class="col-sm-2">
					{{ progress.value.label(class_="sr-only") }}
					<div class="input-group">
						{{ progress.value(class_="form-control", placeholder=progress.value.label.text) }}
						<span class="input-group-addon">{{challenge.unit}}</span>
					</div>
				</div>
				<div class="col-sm-6">
					{{ progress.note.label(class_="sr-only") }}
					{{ progress.note(class_="form-control", placeholder=progress.note.label.text) }}
				</div>
			</div>
			{% endfor %}
			<div class="row">
				<div class="form-group col-sm-2 col-sm-offset-1">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
		<div>
</div>
{% endblock %}
