{% extends "template.html" %}
{% block title %} - Challenge {{challenge.title}}{% endblock %}

{% block content_no_row %}
<div class="row">
	<h1>{{challenge.title}}</h1>
	<div class="col-sm-10 col-sm-offset-1">
		<div class="row">
			{% with context=challenge.bootstrap_context() %}
			<div class="jumbotron jumbotron-challenge-{{context}}">
				<div class="row">
					<div class="challenge-value col-sm-4">
					{% block challenge_jumbotron_left scoped %}
					{% endblock %}
					</div>
					<div class="challenge-points center-block col-sm-2 col-sm-offset-1">
						<div class="value">{{"%8.1f" % challenge.calc_points()}}</div>
						<div>points{{"" if challenge.is_overdue() else " so far"}}</div>
					</div>
					<div class="challenge-time col-sm-4 col-sm-offset-1 text-right">
						<div>
							<span class="done"> {{challenge.days_left()}} </span>
							/
							<span class="target"> {{challenge.duration()}} </span>
							<span class="unit"> days left</span>
						</div>
						<div>
							{{ progress_bar(100*challenge.time_ratio(), context)}}
						</div>
					</div>
				</div>
				<div class="row">
				</div>
				<div><b class="highlight">Your task:</b> {{ challenge.description }}</div>
				<div class="smallprint">
					<span class="highlight">{{challenge.points_success}}</span> points to win;
					<span class="highlight">{{challenge.points_fail}}</span> points to lose.
					Runs from <span class="highlight">{{challenge.start}}</span>
					to <span class="highlight">{{challenge.end}}</span>.
				</div>
			{% endwith %}
		</div>
	</div>

	<form method="POST" action="">
		{% block form %}
		{% endblock %}
		</form>
		<div>
</div>
{% endblock %}

{% macro datepicker(date_field, class_="col-sm-3", pre="") -%}
<div class="{{class_}}">
	<div class="pull-right">
		{% if pre %}
		<div>
			{{pre|safe}}
		</div>
		{% endif %}
		<div>
			{{ date_field(class="datepicker-hidden-input", type="hidden") }}
			<span class="datepicker-display">{{date_field.data}}</span>
			<button type="button" class="btn btn-default btn-sm datepicker-button glyphicon glyphicon-th"></button>
		</div>
	</div>
</div>
{%- endmacro %}

{% macro progress_bar(percentage, level) %}
		<div class="progress">
			<div class="progress-bar progress-bar-{{level}}" style="width: {{percentage}}%">
			</div>
		</div>
{% endmacro %}
